---
import data from "../data/website.json";

import BaseLayout from "../layouts/BaseLayout.astro";
import PageHeader from "../components/PageHeader.astro";
---

<BaseLayout>
	<PageHeader title="Contactează-mă"/>

	<div class="ml-3">
		<p class="mb-4">Aici vei găsi date de contacte pentru mine și contribuitorii acestui site.</p>

		<div class="text-[#8c8c8c] text-center -ml-3">
			<a href="tel:+40 738 515 692">Nr. Telefon</a>
			<br>
			<a href={`mailto:${data.email}`}>Email</a>
			<br>
			<a href="https://www.instagram.com/cristizrm">Instagram</a>
			<br>
			<a href="https://github.com/adri-no-dev">GitHub (developer)</a>
			<br>
		</div>
	<div>
</BaseLayout>
