---
import data from "../data/website.json";
---

<div class="bg-black rounded-3xl pt-2 mt-3 pb-2 min-h-screen">
	<div class="text-white grid grid-cols-1 grid-rows-1 justify-items-center">
		<a href={`mailto:${data.email}`}>Email</a>
		<a href="/contacte">Contactează-mă altfel</a>
		<!-- <a href="https://github.com/adri-no-dev/shop-app">Repository</a> -->
	</div>

	<p class="mt-5 text-neutral-500 text-left ml-2 text-xs">© 2025 Cristi Dr.</p>
</div>
